<body>
    <div class="card text-center" style="width: 30rem;">
        <img src="~/Images/hotel.jpg" class="card-img-top" align="right" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">O nas</h5>
            <p class="text-justify">
               Grand Royale to hotel położony w centrum miasta wśród secesyjnej zabudowy Bydgoszczy. Historia hotelu sięga
               pierwszej połowy XX wieku, kiedy to berliński architekt zaprojektował ten wspaniały budynek dla jednego z bydgoskich kupców.
               Oryginalna bryła oraz wspaniałe wnętrza hotelu czerpią z najlepszych berlińskich hoteli ówczesnej epoki.Hotel łączy tradycje 
               z nowoczesnością. Goście mogą znaleźć tutaj przestronne i komfortowe pokoje, spa oraz restaurację.
            </p>
            <a asp-controller="Home" asp-action="Rooms" class="btn btn-outline-primary">Pokoje</a>
        </div>
    </div>

</body>
