<div class="card" style="width: 27rem;">

    <img src="~/Images/Kontakt.JPG" class="card-img-top" alt="...">
    <div class="card-body">

        <h5 class="card-title">Hotel Grand Royale</h5>

        <p><span>Skontaktuj się z nami:</span></p>

        <p><span> -> Bydgoszcz, ul. Gdańska 21</span></p>

        <p><span> ->tel.: 347-764-238</span></p>

        <p><span> ->email: grandroyale@kontakt.pl</span></p>

        <a href="Index" class="btn btn-outline-secondary">Powrót</a>

    </div>
</div>
