@model HotelBooking.ViewModels.ReservationEditViewModel
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "EditReservation";
}

    <img src="~/Images/HotelAssist.JPG" align="left" height="200" width="170" />
<div class="row">
    <div class="col-md-5">
        <h4>Dokonujesz zmiany @UserManager.GetUserAsync(User).Result.FirstName ? </h4>
        <hr />
        <form asp-action="EditReservation">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ReservationID" />
            <div class="form-group">
                <p class="text-white bg-dark">Klient</p>
                <label asp-for="UserName" class="control-label">Proszę podać Email </label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <p class="text-white bg-dark">Pokój</p>
                <label asp-for="RoomID" class="control-label">Proszę podać ID pokoju</label>
                <input asp-for="RoomID" class="form-control" />
                <span asp-validation-for="RoomID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <p class="text-white bg-dark">Data zameldowania</p>
                <label asp-for="CheckInDate" class="control-label">Proszę podać datę zameldowania</label>
                <input asp-for="CheckInDate" class="form-control" />
                <span asp-validation-for="CheckInDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <p class="text-white bg-dark">Data wymeldowania</p>
                <label asp-for="CheckOutDate" class="control-label">Proszę podać datę wymeldowania</label>
                <input asp-for="CheckOutDate" class="form-control" />
                <span asp-validation-for="CheckOutDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-outline-primary">Aktualizuję</button>
                @*<button type="submit" asp-controller="Wizyta" asp-action="WizytaDetails" asp-route-id="@Model.Lekarz.LekarzID" class="btn btn-primary">Umawiam</button>*@
            <input type="button" onclick="history.go(-1)" value="Powrót" class="btn btn-outline-secondary" />
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
