@model HotelBooking.ViewModels.ReservationDetailsViewModel

<html>
<head>
    <title></title>
</head>
<body>
    <br />
    <img src="~/Images/HotelAssist.JPG" class="rounded mx-auto d-block" height="200" width="170" />
    <hr />
    <p class="text-center">Przykro nam, ale planowany pobyt nie może być krótszy niż jedna doba.</p>

    <p class="text-center">Proszę wybrać inny termin wymeldowania.</p>
    <hr />
    <br />
    <input type="button" onclick="history.go(-1)" value="Powrót" class="btn btn-outline-secondary" />
</body>
</html>