@model HotelBooking.ViewModels.ReservationDetailsViewModel
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "ReservationTooShortEdit";
}

<html>
<head>
    <title></title>
</head>
<body>
    <br />
    <img src="~/Images/HotelAssist.JPG" class="rounded mx-auto d-block" height="200" width="170" />
    <hr />
    <p class="text-center">Przykro nam @UserManager.GetUserAsync(User).Result.FirstName, ale planowany pobyt nie może być krótszy niż jedna doba.</p>

    <p class="text-center">Czy chcesz wybrać inny termin wymeldowania ?</p>
    <hr />
    <br />
    <input type="button" onclick="history.go(-1)" value="Tak, zmieniam" class="btn btn-outline-primary" />
    <a asp-controller="Home" asp-action="Index" class="btn btn-outline-secondary">Nie, dziękuję</a>
</body>
</html>